@font-face {
    font-family: 'CherryR';
    src: url('fonts/CHERRYDEMO-Regular.ttf');
}
@font-face {
    font-family: 'CherryI';
    src: url('fonts/CHERRYDEMO-Italic.ttf');
}
@font-face {
    font-family: 'Valentine';
    src: url('fonts/Valentine\ Bright\ Serif.ttf');
}
@font-face {
    font-family: 'Nicole';
    src: url('fonts/NicolinePavlina.ttf');
}

*{
    margin: 0 auto;
    padding: 0 auto;  
}


body{
    background-color: #faf7f0;
    color: #3f3f3f;
    font-size: 20px;
    line-height: 1.5;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 180px; background-image: linear-gradient(rgba(15, 247, 69, 0.158)90%,#faf7f0 100%);
   line-height: 1.1;
   
}

header h1{
    font-family: 'CherryR', sans-serif;
    font-size: 100px;
    color: #292929;

}

header h5{
    font-family: 'Nicole';
}

main h3{
    font-family: 'Valentine';
    font-size: 50px;
    margin: 15px;
    color: #3f3f3f;
}

.primeiro{
background-image: linear-gradient(#faf7f0 0%, #f5efe1 5%, #f5efe1 90%,#faf7f0 105%);
  background-size: cover;
  background-position: center;
  padding: 15px;
  padding-left: 2%;
  padding-right: 15%;
  border-radius: 10px;
  text-align: left;
  
}


.segundo{
    display: flex;
    text-align: right;
    align-items: center;
}

.texto{
    width: 600px;
    margin-left: -30px;
}

.terceiro{
    background-image: linear-gradient(#faf7f0 0%, #f5efe1 5%, #f5efe1 90%,#faf7f0 105%);
  background-size: cover;
  background-position: center;
  padding: 25px;
  padding-left: 2%;
  padding-right: 15%;
  border-radius: 10px;
  text-align: left;
}


.quarto{
    display: flex;
    text-align: left;
    align-items: center;
}


.texto2{
    width: 600px;
    margin-right: -30px;
}

footer{
    background-color: #e5e0d3;
    display: flex;
    justify-content: center;
    
    
}

footer a{
    color: #3f3f3fc2;
    text-decoration: none;
}

footer a:hover{
    color: #e86d20;
}

.fontes{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.fulfontes{
    display: flex;
    
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rodape h3{
    font-size: 30px;
}